body{
    font-family: sans-serif;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    background-attachment: fixed;

}
h1{
    color: rgba(190, 19, 19, 0.40);
    text-align: center;
    font-style: italic; 
    
}
h2{
    color: #025F77;
    font-weight: normal;
    text-decoration: underline;
}

.destaque{
    color: rgba(32, 46, 243, 0.6);
    background-color:rgba(243, 194, 32, 0.5);
    font-size: 22px;
    
}

p{
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
}

strong{
    color:red;
}

em{
    color: red;
}

mark{
    color: red; 
}

abbr{
    color: red;
     
}

input:focus{
    background-color:rgb(174, 205, 238);
}

textarea:focus{
    background-color:rgb(174, 205, 238);
}

textarea{
    resize: vertical;
}

a:hover{
    color: black;
    font-size: 20px;
    font-style: italic;
}

img:hover{
    border-radius: 20px;
    border:4px solid #999;
}

header .top{
    background-color: gray;
}

.section1{
    background-color: lightblue;
}

.article1{
    background-color: lightcyan;
}

.article2{
    background-color: lightgoldenrodyellow;
}

.article3{
    background-color: lightgreen;
}

.rodape{
    background-color: rosybrown;
    height: 100px;
}

.rodape p{
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}